* {
    background:         #15161e;
    background-alt:     #292c3c;
    background-active:  #7899df;
    border:             #77b5a6;
    text:               #77b5a6;
    text-active:        #ffffff;
}
